<titulo titulo="Vistas diferidas" />

<section class="grid grid-cols-1">

  @defer () {
    <cargadores-pesados-lentos claseCss="bg-blue-500" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">Cargando...</p>
  }

  @defer (on idle) {
    <cargadores-pesados-lentos claseCss="bg-green-500" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">Cargando...</p>
  }

  @defer (on viewport) {
    <cargadores-pesados-lentos claseCss="bg-purple-500" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">Cargando...</p>
  }

</section>
