<!-- @If -->
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">if: {{ mostrarContenido() }}</h2>

    <button class="p-2 bg-blue-500 rounded text-white" (click)="conmutarContenido()">Cliquéame</button>

    @if(mostrarContenido()) {
    <p>Hola mundo</p>
    } @else {
    <p>*********</p>
    }

  </div>

  <!-- @Switch -->
  <div class="bg-white rounded shadow p-10">
    <p>
      @switch (grado()) {
      @case ('A') { Por encima de 90 }
      @case ('B') { Por encima de 80 }
      @default { Suspenso }
      }
    </p>
  </div>

</section>
