<div class="alert alert-primary mt-2 text-center">
  <h6>Cargando</h6>
  <span>Espere por favor...</span>
</div>

<ul class="list-group mt-2">
  <li class="list-group-item list-group-item-action puntero">
    <h6>Lugar</h6>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas iste quaerat aliquid distinctio at, minus sit
      laborum culpa repudiandae maxime perspiciatis ad ipsam cupiditate delectus veritatis laudantium soluta fugiat est!
    </p>
    <button class="btn btn-sm btn-outline-primary">Direcciones</button>
  </li>
</ul>
