<h1>Mutaciones</h1>
<hr>

<div class="row">
  <div class="col-6">
    <input #entradaCorreo type="text" class="form-control mb-2" (input)="campoActualizado('email', entradaCorreo.value)" [value]="usuario().email">
    <input #entradaNombre type="text" class="form-control mb-2" (input)="campoActualizado('first_name', entradaNombre.value)" [value]="usuario().first_name">
    <input #entradaApellidos type="text" class="form-control mb-2" (input)="campoActualizado('last_name', entradaApellidos.value)" [value]="usuario().last_name">
  </div>

  <div class="col-6">
    <pre>{{ usuario() | json }}</pre>

    {{ nombreCompleto() }}
  </div>
</div>
