<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
    <h3>Lista de propiedades</h3>
    <hr>
  </div>
</div>

<div class="row mt-2">
  <div class="col-2"></div>
  <div class="col">
    <div class="row">

      <!-- Casas -->
      <div *ngFor="let casa of casas" class="col-4 mb-2">
        <div class="card">
          <mini-mapa [lngLat]="casa.lngLat" />

          <div class="card-body">
            <h5 class="card-title">{{ casa.titulo }}</h5>
            <p class="card-text">{{ casa.descripcion }}</p>
          </div>
        </div>
      </div>

      <div class="col-4 mb-2">
        <contador/>
      </div>

    </div>
  </div>
</div>
