<h1>{{nombre}}</h1>

<dl>
  <td>Nombre: </td>
  <dd>{{nombre}}</dd>

  <td>Edad: </td>
  <dd>{{edad}}</dd>

  <td>Método: </td>
  <dd>{{obtenerDescripcionHeroe()}}</dd>

  <td>Mayúsculas: </td>
  <dd>{{nombreMayusculas}}</dd>
</dl>

<button
  class="btn btn-primary mx-2"
  (click)="cambiarHeroe()"
  *ngIf="nombre !== 'spider-man'">
  Cambiar nombre
</button>

<button
  class="btn btn-primary"
  (click)="cambiarEdad()"
  *ngIf="edad !== 24">
  Cambiar edad
</button>

<button
  class="btn btn-primary mx-2"
  (click)="reiniciar()">
  Reiniciar
</button>
