<h1 class="mt-3">Selectores anidados</h1>
<hr>

<form [formGroup]="formulario">

  <!-- Continentes -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select formControlName="continente" class="form-control">
        <option value="">Seleccione el continente</option>
        <option *ngFor="let continente of continentes" [value]="continente">{{ continente }}</option>
      </select>
    </div>
  </div>

  <!-- Países -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">País:</label>
      <select formControlName="pais" class="form-control">
        <option value="">Seleccione el país</option>
        <option *ngFor="let pais of paisesPorContinente" [value]="pais">{{ pais.nombre }}</option>
      </select>
    </div>
  </div>

</form>

<h3>Formulario</h3>
<code>{{ formulario.value | json }}</code>
<p>¿Válido? {{ formulario.valid }}</p>
